* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: bold;
}

body {
    background-color: darkgray;
    text-align: center;
    overflow: hidden;
}

input[type='color'] {
    padding: 0 2px;
    margin: 1em;
    width: 150px;
    height: 75px;
}

.wrapper { margin: 0 auto; padding: 1em;}
.left { float: left; padding: 1em;}
.right { float: left; padding: 1em;}